$haha: percentage(1.0);

.haha-style {
    width: $haha;
}

.page {
    height: 100vh;
    background: #bfe2e4
}

.head {
    height: 33.33vh;
}

.body {
    height: 33.33vh;
}

.foot {
    height: 33.33vh;
}